In [1]:
from __future__ import division
import pandas as pd

df = pd.read_csv('datasets/outbreaks.csv')
df.head()

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
0,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,20,0.0,0.0
1,1998,January,California,NaN,Custard,NaN,NaN,NaN,NaN,112,0.0,0.0
2,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,35,0.0,0.0
3,1998,January,California,Restaurant,"Fish, Ahi",NaN,Scombroid toxin,NaN,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",NaN,Salmonella enterica,Enteritidis,Confirmed,26,3.0,0.0

In [3]:
import numpy as np
df['Location']=np.where(df['Location'].str.contains('Restaurant'),'Restaurant',df['Location'])

In [4]:
df['Location']=np.where(df['Location'].str.contains('Private'),'Home',df['Location'])

In [20]:
df['Location']=np.where(df['Location'].str.contains('University'),'School/College/University',df['Location'])

In [18]:
df['Location']=np.where(df['Location'].str.contains('Child'),'Child Daycare',df['Location'])

In [6]:
df['Location']=np.where(df['Location'].str.contains('Catering'),'Catering Service',df['Location'])

In [12]:
df['Location']=np.where(df['Location'].str.contains('Hospital'),'Hospital',(np.where(df['Location'].str.contains('Fair'),'Fair/Festival',df['Location'])))

In [14]:
df['Location']=np.where(df['Location'].str.contains('Camp'),'Camp',(np.where(df['Location'].str.contains('Jail'),'Prison/Jail',df['Location'])))

In [16]:
df['Location']=np.where(df['Location'].str.contains('Banquet'),'Banquet Facility',(np.where(df['Location'].str.contains('Store'),'Grocery Store',df['Location'])))

In [10]:
df['Location']=np.where(df['Location'].str.contains('Unknown'),'Unknown',df['Location'])

In [7]:
df['Location'].unique()

array(['Restaurant', 'Home', 'Grocery Store', 'Catering Service',
       'School/College/University',
       'Nursing Home/Assisted Living Facility', 'Camp', 'Hospital',
       'Office/Indoor Workplace', 'Prison/Jail', 'Child Daycare',
       'Religious Facility', 'Unknown', 'Fair/Festival',
       'School/College/University; Religious Facility',
       'School/College/University; Camp',
       'Grocery Store; Office/Indoor Workplace',
       'Nursing Home/Assisted Living Facility; Hospital',
       'Office/Indoor Workplace; Nursing Home/Assisted Living Facility; Hospital',
       'Office/Indoor Workplace; Hospital', 'Banquet Facility',
       'Grocery Store; Religious Facility', 'Fair/Festival; Grocery Store',
       'Office/Indoor Workplace; Camp',
       'Fair/Festival; Office/Indoor Workplace',
       'Banquet Facility; Office/Indoor Workplace',
       'Banquet Facility; Unknown', 'Office/Indoor Workplace; Prison/Jail',
       'Office/Indoor Workplace; School/College/University',
       'Banquet Facility; Grocery Store',
       'Other (Describe In Remarks); Unknown',
       'Child Daycare; Religious Facility',
       'School/College/University; Prison/Jail',
       'Fair/Festival; Prison/Jail',
       'Grocery Store; School/College/University',
       'Banquet Facility; Religious Facility',
       'Child Daycare; School/College/University', 'Farm/Dairy',
       'Ship/Boat', 'Hotel/Motel'], dtype=object)

In [21]:
df.groupby('Location')['Illnesses'].sum().sort_values(ascending = False)

Location
Restaurant                               217607
Catering Service                          37875
Home                                      31058
Prison/Jail                               20684
School/College/University                 19946
Banquet Facility                          12613
Unknown                                    7699
Nursing Home/Assisted Living Facility      5625
Camp                                       4490
Grocery Store                              4204
Office/Indoor Workplace                    3888
Religious Facility                         3501
Fair/Festival                              2219
Hospital                                   1346
Child Daycare                               632
Farm/Dairy                                  134
Hotel/Motel                                   7
Ship/Boat                                     3
Name: Illnesses, dtype: int64

In [23]:
df.groupby('State')['Illnesses','Hospitalizations','Fatalities'].sum().sort_values(by = 'Illnesses',ascending = False)

                   Illnesses  Hospitalizations  Fatalities
State
California             39992            1062.0        26.0
Illinois               24700             713.0         5.0
Multistate             24573            4011.0       150.0
Florida                23050             684.0        23.0
Ohio                   20451             659.0         8.0
New York               17407             591.0        12.0
Michigan               14471             357.0         5.0
Texas                  14187             337.0        14.0
Minnesota              13533             373.0         3.0
Pennsylvania           11374             384.0         9.0
Wisconsin              11014             334.0         3.0
Colorado               10099             201.0         4.0
Georgia                10070             320.0         5.0
Washington              9804             248.0         3.0
Maryland                9474             236.0         3.0
Oregon                  8960             195.0        13.0
Tennessee               7475             279.0         1.0
Virginia                7167             221.0         1.0
Massachusetts           6453             240.0         5.0
North Carolina          6421             225.0         4.0
Kansas                  5791             144.0         1.0
Arizona                 5059             225.0         0.0
Iowa                    4866             109.0         1.0
Maine                   4857             102.0         0.0
South Carolina          4730             192.0         2.0
New Jersey              4322             147.0         3.0
Louisiana               4169             131.0         7.0
Connecticut             4151             131.0         1.0
Missouri                4042             108.0         0.0
Hawaii                  3558             116.0         1.0
Indiana                 3286             200.0         0.0
Nevada                  2828             119.0         1.0
North Dakota            2765              28.0         0.0
Alabama                 2638             149.0         1.0
Arkansas                2383             129.0         0.0
Utah                    2350              75.0         4.0
Oklahoma                2163             148.0         3.0
New Hampshire           1933              35.0         0.0
Idaho                   1829              59.0         1.0
Wyoming                 1720              41.0         0.0
Washington DC           1481              17.0         0.0
New Mexico              1466              84.0         3.0
Mississippi             1402              80.0         0.0
Alaska                  1322              90.0         1.0
Montana                 1300              40.0         0.0
Rhode Island            1171              51.0         4.0
West Virginia           1091              48.0         2.0
Puerto Rico              926              55.0         0.0
Nebraska                 919              45.0         0.0
Kentucky                 712              48.0         2.0
South Dakota             681              28.0         2.0
Vermont                  511              29.0         0.0
Delaware                 229               8.0         0.0
Guam                     196               0.0         0.0
Republic of Palau          9               0.0         0.0

In [25]:
df_state = pd.pivot_table(df,index = ['State','Species','Year'],values=['Illnesses','Hospitalizations','Fatalities'],aggfunc='sum').sort_values('Illnesses',ascending = False)

In [26]:
df_state

                                                           Fatalities  \
State        Species                                 Year
Multistate   Salmonella enterica                     2010         0.0
                                                     2008        11.0
Pennsylvania Norovirus genogroup I                   2004         0.0
California   Norovirus genogroup I                   2002         0.0
Colorado     Norovirus genogroup I                   2006         0.0
California   Campylobacter jejuni                    2006         0.0
Texas        Shigella sonnei                         2003         0.0
California   Norovirus genogroup I                   2004         0.0
                                                     2003         0.0
Multistate   Salmonella enterica                     2015         6.0
Illinois     Norovirus genogroup I                   2004         0.0
Multistate   Salmonella enterica                     2011         1.0
Ohio         Norovirus genogroup I                   1999         1.0
Multistate   Salmonella enterica                     2006         0.0
Michigan     Norovirus genogroup II                  2006         0.0
Wisconsin    Norovirus genogroup I                   2004         0.0
California   Norovirus genogroup I                   2001         0.0
Illinois     Clostridium perfringens                 2002         0.0
Multistate   Salmonella enterica                     2013         1.0
                                                     2009         1.0
California   Norovirus genogroup I                   2000         0.0
Ohio         Norovirus genogroup II                  2008         0.0
Multistate   Hepatitis A                             2003         NaN
Ohio         Norovirus genogroup I                   2006         0.0
Illinois     Escherichia coli, Enterotoxigenic       1998         0.0
California   Norovirus unknown                       2006         0.0
New York     Shigella flexneri                       2001         NaN
Louisiana    Clostridium perfringens                 2003         0.0
Illinois     Salmonella enterica                     2007         0.0
California   Clostridium perfringens                 2000         1.0
...                                                               ...
Washington   Campylobacter jejuni                    2005         0.0
                                                     2004         0.0
Colorado     Shigella boydii                         2005         0.0
Washington   Campylobacter jejuni                    2001         0.0
                                                     1998         0.0
Illinois     Vibrio parahaemolyticus                 2013         0.0
Florida      Monosodium glutamate (MSG)              2006         0.0
             Listeria monocytogenes                  1999         1.0
Illinois     Scombroid toxin                         2012         0.0
New Jersey   Listeria monocytogenes                  2011         0.0
California   Shigella unknown                        2014         0.0
Illinois     Puffer fish tetrodotoxin                2007         0.0
Florida      Staphylococcus aureus; Bacillus cereus  2004         0.0
             Heavy metals                            2005         0.0
Ohio         Histamine                               2011         0.0
                                                     2012         0.0
Washington   Histamine                               2012         0.0
                                                     2008         0.0
Ohio         Mycotoxins                              2009         0.0
Washington   Hepatitis A                             2010         0.0
Florida      Hepatitis A                             2000         0.0
California   Shigella unknown                        2005         0.0
Colorado     Salmonella enterica                     2014         0.0
Tennessee    Salmonella enterica                     2011         0.0
New Jersey   Mycotoxins                              2007         0.0
Washington   Escherichia coli, Shiga toxin-producing 2006         0.0
California   Shigella                                2014         0.0
Illinois     Scombroid toxin                         2001         0.0
                                                     2008         0.0
Wyoming      Vibrio parahaemolyticus                 2014         0.0

                                                           Hospitalizations  \
State        Species                                 Year
Multistate   Salmonella enterica                     2010              62.0
                                                     2008             487.0
Pennsylvania Norovirus genogroup I                   2004              35.0
California   Norovirus genogroup I                   2002              15.0
Colorado     Norovirus genogroup I                   2006               4.0
California   Campylobacter jejuni                    2006               7.0
Texas        Shigella sonnei                         2003               4.0
California   Norovirus genogroup I                   2004               7.0
                                                     2003              12.0
Multistate   Salmonella enterica                     2015             266.0
Illinois     Norovirus genogroup I                   2004              11.0
Multistate   Salmonella enterica                     2011             189.0
Ohio         Norovirus genogroup I                   1999              11.0
Multistate   Salmonella enterica                     2006             169.0
Michigan     Norovirus genogroup II                  2006              21.0
Wisconsin    Norovirus genogroup I                   2004              13.0
California   Norovirus genogroup I                   2001               7.0
Illinois     Clostridium perfringens                 2002               1.0
Multistate   Salmonella enterica                     2013             269.0
                                                     2009              85.0
California   Norovirus genogroup I                   2000               6.0
Ohio         Norovirus genogroup II                  2008               3.0
Multistate   Hepatitis A                             2003               NaN
Ohio         Norovirus genogroup I                   2006              17.0
Illinois     Escherichia coli, Enterotoxigenic       1998               7.0
California   Norovirus unknown                       2006               4.0
New York     Shigella flexneri                       2001              22.0
Louisiana    Clostridium perfringens                 2003              35.0
Illinois     Salmonella enterica                     2007              38.0
California   Clostridium perfringens                 2000               2.0
...                                                                     ...
Washington   Campylobacter jejuni                    2005               0.0
                                                     2004               0.0
Colorado     Shigella boydii                         2005               0.0
Washington   Campylobacter jejuni                    2001               0.0
                                                     1998               0.0
Illinois     Vibrio parahaemolyticus                 2013               1.0
Florida      Monosodium glutamate (MSG)              2006               0.0
             Listeria monocytogenes                  1999               2.0
Illinois     Scombroid toxin                         2012               0.0
New Jersey   Listeria monocytogenes                  2011               2.0
California   Shigella unknown                        2014               0.0
Illinois     Puffer fish tetrodotoxin                2007               1.0
Florida      Staphylococcus aureus; Bacillus cereus  2004               0.0
             Heavy metals                            2005               0.0
Ohio         Histamine                               2011               0.0
                                                     2012               0.0
Washington   Histamine                               2012               0.0
                                                     2008               0.0
Ohio         Mycotoxins                              2009               0.0
Washington   Hepatitis A                             2010               0.0
Florida      Hepatitis A                             2000               0.0
California   Shigella unknown                        2005               0.0
Colorado     Salmonella enterica                     2014               2.0
Tennessee    Salmonella enterica                     2011               1.0
New Jersey   Mycotoxins                              2007               2.0
Washington   Escherichia coli, Shiga toxin-producing 2006               1.0
California   Shigella                                2014               0.0
Illinois     Scombroid toxin                         2001               2.0
                                                     2008               0.0
Wyoming      Vibrio parahaemolyticus                 2014               0.0

                                                           Illnesses
State        Species                                 Year
Multistate   Salmonella enterica                     2010       2511
                                                     2008       2419
Pennsylvania Norovirus genogroup I                   2004       1824
California   Norovirus genogroup I                   2002       1744
Colorado     Norovirus genogroup I                   2006       1735
California   Campylobacter jejuni                    2006       1644
Texas        Shigella sonnei                         2003       1401
California   Norovirus genogroup I                   2004       1399
                                                     2003       1311
Multistate   Salmonella enterica                     2015       1310
Illinois     Norovirus genogroup I                   2004       1268
Multistate   Salmonella enterica                     2011       1157
Ohio         Norovirus genogroup I                   1999       1155
Multistate   Salmonella enterica                     2006       1082
Michigan     Norovirus genogroup II                  2006       1049
Wisconsin    Norovirus genogroup I                   2004       1045
California   Norovirus genogroup I                   2001        995
Illinois     Clostridium perfringens                 2002        993
Multistate   Salmonella enterica                     2013        981
                                                     2009        964
California   Norovirus genogroup I                   2000        962
Ohio         Norovirus genogroup II                  2008        955
Multistate   Hepatitis A                             2003        935
Ohio         Norovirus genogroup I                   2006        931
Illinois     Escherichia coli, Enterotoxigenic       1998        916
California   Norovirus unknown                       2006        892
New York     Shigella flexneri                       2001        886
Louisiana    Clostridium perfringens                 2003        880
Illinois     Salmonella enterica                     2007        862
California   Clostridium perfringens                 2000        851
...                                                              ...
Washington   Campylobacter jejuni                    2005          2
                                                     2004          2
Colorado     Shigella boydii                         2005          2
Washington   Campylobacter jejuni                    2001          2
                                                     1998          2
Illinois     Vibrio parahaemolyticus                 2013          2
Florida      Monosodium glutamate (MSG)              2006          2
             Listeria monocytogenes                  1999          2
Illinois     Scombroid toxin                         2012          2
New Jersey   Listeria monocytogenes                  2011          2
California   Shigella unknown                        2014          2
Illinois     Puffer fish tetrodotoxin                2007          2
Florida      Staphylococcus aureus; Bacillus cereus  2004          2
             Heavy metals                            2005          2
Ohio         Histamine                               2011          2
                                                     2012          2
Washington   Histamine                               2012          2
                                                     2008          2
Ohio         Mycotoxins                              2009          2
Washington   Hepatitis A                             2010          2
Florida      Hepatitis A                             2000          2
California   Shigella unknown                        2005          2
Colorado     Salmonella enterica                     2014          2
Tennessee    Salmonella enterica                     2011          2
New Jersey   Mycotoxins                              2007          2
Washington   Escherichia coli, Shiga toxin-producing 2006          2
California   Shigella                                2014          2
Illinois     Scombroid toxin                         2001          2
                                                     2008          2
Wyoming      Vibrio parahaemolyticus                 2014          2

[4286 rows x 3 columns]