In [21]:
import pandas as pd
from sqlalchemy import create_engine

dbfile = r'datasets/database.sqlite'
engine = create_engine(r"sqlite:///{}".format(dbfile))

#sql="select name from sqlite_master where type='table';"
reviewgenre_sql = 'SELECT genres.reviewid,genre,title,artist,url,score,best_new_music,author,author_type,pub_date,pub_weekday,pub_day,pub_month,pub_year from genres,reviews where genres.reviewid = reviews.reviewid;'
df_reviewgenre = pd.read_sql(reviewgenre_sql,engine)
genresql = 'select * from genres;'
df_genre = pd.read_sql(genresql,engine)
df_reviewgenre
df_genre

       reviewid         genre
0         22703    electronic
1         22721         metal
2         22659          rock
3         22661          rock
4         22725    electronic
5         22722          None
6         22704           rap
7         22694    electronic
8         22714  experimental
9         22724           rap
10        22715  experimental
11        22745           rap
12        22700    electronic
13        22720           rap
14        22699           rap
15        22665          None
16        22666  experimental
17        22719           rap
18        22719       pop/r&b
19        22667  experimental
20        22691           rap
21        22691       pop/r&b
22        22702         metal
23        22718          rock
24        22706  experimental
25        22695          rock
26        22695  experimental
27        22713    electronic
28        22705  folk/country
29        22532          rock
...         ...           ...
22650      1514    electronic
22651      8677          rock
22652      7051          rock
22653      7051  experimental
22654      6435          rock
22655      1014          rock
22656      7460          rock
22657      2965       pop/r&b
22658      7981          None
22659      8835          rock
22660      8835    electronic
22661      6138  experimental
22662      6138    electronic
22663      1242          rock
22664      1023          rock
22665      1023         metal
22666       287       pop/r&b
22667       287    electronic
22668      3741  folk/country
22669      6455    electronic
22670       361    electronic
22671      6372    electronic
22672      1535          jazz
22673      1535    electronic
22674      1341    electronic
22675      5376          rock
22676      2413          rock
22677      2413         metal
22678      2413  experimental
22679      3723          None

[22680 rows x 2 columns]

In [20]:
df_reviewgenre[df_reviewgenre.duplicated()==True].sort_values(by='reviewid')

,reviewid,genre,title,artist,url,score,best_new_music,author,author_type,pub_date,pub_weekday,pub_day,pub_month,pub_year
14627,9417,global,radiodread,easy star all-stars,http://pitchfork.com/reviews/albums/9417-radio...,7.0,0,joe tangari,contributor,2006-10-11,2,11,10,2006
14636,9417,global,radiodread,easy star all-stars,http://pitchfork.com/reviews/albums/9417-radio...,7.0,0,joe tangari,contributor,2006-10-11,2,11,10,2006
14637,9417,global,radiodread,easy star all-stars,http://pitchfork.com/reviews/albums/9417-radio...,7.0,0,joe tangari,contributor,2006-10-11,2,11,10,2006
14633,9460,rock,subliminal genocide,xasthur,http://pitchfork.com/reviews/albums/9460-subli...,7.8,0,brandon stosuy,contributor,2006-10-10,1,10,10,2006
14635,9460,metal,subliminal genocide,xasthur,http://pitchfork.com/reviews/albums/9460-subli...,7.8,0,brandon stosuy,contributor,2006-10-10,1,10,10,2006
14642,9460,rock,subliminal genocide,xasthur,http://pitchfork.com/reviews/albums/9460-subli...,7.8,0,brandon stosuy,contributor,2006-10-10,1,10,10,2006
14643,9460,rock,subliminal genocide,xasthur,http://pitchfork.com/reviews/albums/9460-subli...,7.8,0,brandon stosuy,contributor,2006-10-10,1,10,10,2006
14644,9460,metal,subliminal genocide,xasthur,http://pitchfork.com/reviews/albums/9460-subli...,7.8,0,brandon stosuy,contributor,2006-10-10,1,10,10,2006
14645,9460,metal,subliminal genocide,xasthur,http://pitchfork.com/reviews/albums/9460-subli...,7.8,0,brandon stosuy,contributor,2006-10-10,1,10,10,2006
14631,9499,None,young machetes,the blood brothers,http://pitchfork.com/reviews/albums/9499-young...,6.2,0,jason crock,None,2006-10-10,1,10,10,2006
14640,9499,None,young machetes,the blood brothers,http://pitchfork.com/reviews/albums/9499-young...,6.2,0,jason crock,None,2006-10-10,1,10,10,2006
14641,9499,None,young machetes,the blood brothers,http://pitchfork.com/reviews/albums/9499-young...,6.2,0,jason crock,None,2006-10-10,1,10,10,2006
14629,9505,None,the dfa remixes: chapter two,various artists,http://pitchfork.com/reviews/albums/9505-the-d...,8.2,0,tim finney,None,2006-10-10,1,10,10,2006
14638,9505,None,the dfa remixes: chapter two,various artists,http://pitchfork.com/reviews/albums/9505-the-d...,8.2,0,tim finney,None,2006-10-10,1,10,10,2006
14639,9505,None,the dfa remixes: chapter two,various artists,http://pitchfork.com/reviews/albums/9505-the-d...,8.2,0,tim finney,None,2006-10-10,1,10,10,2006

In [40]:
df_genre[df_genre['reviewid']==9460]

       reviewid  genre
14629      9460   rock
14630      9460  metal
14634      9460   rock
14635      9460  metal

In [29]:
df_genre[df_genre.duplicated()==True]

       reviewid   genre
14631      9417  global
14632      9505    None
14633      9499    None
14634      9460    rock
14635      9460   metal

In [50]:
df_genre[(df_genre.groupby('reviewid')['genre'].count())]

KeyError: '[1 1 1 ..., 1 1 1] not in index'

In [66]:
#dfgenredupes = pd.DataFrame(df_genre.groupby('reviewid')['genre'].count())
dfdupegenres =df_genre.groupby('reviewid').size().reset_index()
dfdupegenres.rename(columns={0:'frequency'},inplace = True)
dfdupegenres

       reviewid  frequency
0             1          1
1             6          1
2             7          1
3             8          1
4            10          1
5            11          1
6            12          2
7            15          2
8            16          2
9            17          2
10           18          2
11           19          2
12           20          2
13           21          2
14           22          2
15           23          2
16           24          2
17           25          2
18           31          1
19           32          1
20           33          1
21           36          1
22           39          1
23           40          1
24           41          1
25           42          1
26           43          1
27           44          1
28           47          2
29           50          2
...         ...        ...
18359     22691          2
18360     22692          1
18361     22693          1
18362     22694          1
18363     22695          2
18364     22696          1
18365     22697          1
18366     22698          1
18367     22699          1
18368     22700          1
18369     22701          1
18370     22702          1
18371     22703          1
18372     22704          1
18373     22705          1
18374     22706          1
18375     22707          1
18376     22708          1
18377     22711          1
18378     22713          1
18379     22714          1
18380     22715          1
18381     22718          1
18382     22719          2
18383     22720          1
18384     22721          1
18385     22722          1
18386     22724          1
18387     22725          1
18388     22745          1

[18389 rows x 2 columns]